.DS_Store
metastore_db
*.aux
*.log
*.out
*.tex
*.nav
*.snm
*.gz
*.toc
*.fls
*.html
*.nb.html
*.pdf
*.doc
*.docx
*output
*latexmk
*~
.Rhistory
.Rproj.user
.RData
.Ruserdata
derby.log
Spark_cache
Spark_files
*.Rproj
.rstudio